.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home {
    flex: 1; 
    width: 100%;
    min-height: 100%;
    background-color: #AAC0EC;
    padding: 0; /* Ensure padding is 0 */
    margin: 0; /* Ensure margin is 0 */
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    
    }

.intro {
    color: white;
    font-size: 80px;
    font-family: ConcertOne;
    padding-top: 30vh;
    padding-left: 10vh;
    text-shadow: 0 4px 5px lightgray;
    opacity: 0.3;
    animation: fadeInAnimation 1.0s ease-in forwards; /* Adjust the duration and timing function as needed */
    pointer-events: none; /* Make the element non-interactive when it's transparent*/
}

.intro.full-opacity {
    opacity: 1;
    pointer-events: auto; /* Restore interaction when fully opaque */
}
.prompt {
    padding-top: 2vh;
    font-family:"FiraSansExtraLight";
    font-size: 50px;
    color: white;
    padding-left: 10vh;
    text-shadow: 0 3px 5px lightgray;
}

.buttons {
    padding-top: 2vh;
}




.media {
    margin-top: 1vh;
    margin-right: 7vh;
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 35px 35px 35px 35px;
    background-color: #FFE7E9;
    border-color: white;
    transition-duration: 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 8px 12px rgba(0, 0, 0, 0.1),
              0 12px 18px rgba(0, 0, 0, 0.1),
              0 16px 24px rgba(0, 0, 0, 0.1);
}

.media:hover {
    background-color: #AAC0EC;
    border-color: #FFE7E9;
}

.resume {
    align-content: top;
    width: 235px;
    height: 70px;
    position: relative;
    top: -1vh;
    font-family: "Comfortaa";
    background-color: #AAC0EC;
    border-color: #FFE7E9;
    font-size: 35px;
    color: white;
    border-radius: 35px 35px 35px 35px;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 8px 12px rgba(0, 0, 0, 0.1),
              0 12px 18px rgba(0, 0, 0, 0.1),
              0 16px 24px rgba(0, 0, 0, 0.1);
    
}

.resume:hover {
    transition-duration: 0.5s;
    background-color: #FFE7E9;
    border-color: white;

}

@keyframes fadeInAnimation {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }

}
@font-face {
    font-family: 'FiraSansExtraLight'; 
    src: url('../assets/fonts/FiraSans-ExtraLight.ttf') format('truetype'); /* Adjust the path and format */
}

@font-face {
    font-family: 'FiraSansExtraLightItalic'; 
    src: url('../assets/fonts/FiraSans-ExtraLightItalic.ttf') format('truetype'); /* Adjust the path and format */
}

@font-face {
    font-family: 'ConcertOne'; 
    src: url('../assets/fonts/ConcertOne-Regular.ttf') format('truetype'); /* Adjust the path and format */
}

@media only screen and (max-width: 1300px) {
    .wrapper{
        height:1200px;
    }
  }
  